@font-face {
  src: url('/assets/fonts/DSEG14ClassicMini-Regular.woff2') format('woff2');
  font-family: 'DSEG14-Classic-MINI';
  font-style: normal;
  font-weight: normal;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgba(0, 0, 0, 0.3) #97AB46;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #97AB46;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 3px solid #97AB46;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

#app {
  box-shadow: 8.5px 8.5px 0px 1px rgba(11, 11, 11, 0.8);
  width: 365px;
  padding: 25px 40px 40px;
  background-color: #1b1b1b;
  border: 2.5px solid rgb(71, 71, 71);
  border-style: double;
  border-radius: 20px;
}

#bases {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
}

#symbols {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

#model-name {
  opacity: 0.65;
  margin-bottom: 5px;
  font-size: 10px;
  text-align: right;
}

#display {
  display: flex;
  height: auto;
  margin-bottom: 15px;
}

#display-screen {
  width: 100%;
  padding: 4px 4px 4px 6px;
  background-color: #97AB46;
  border: 10px solid #b5b5b5;
  border-style: outset;
  border-radius: 8px;
  font-size: 22px;
  font-family: 'DSEG14-Classic-MINI', serif;
  color: hsl(0, 0%, 12%);
  text-align: end;
  overflow-x: hidden;
}

#screen-calculations {
  flex-direction: column;
  width: 95%;
  border-bottom: 1px solid;
  font-size: 26px;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

#screen-calculations-result {
  font-size: 32px;
}

#screen-bases {
  display: flex;
  justify-content: end;
  width: 100%;
}

#screen-bases-references {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
  font-size: 15px;
  font-family: monospace;
}

#screen-bases-references div {
  height: 33.5px;
}

#screen-bases-results {
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 12.5px;
}

#screen-bases-results>* {
  border-bottom: 1px dotted;
}

#screen-bases-cursor {
  font-family: 'DSEG7-Classic-MINI', serif;
  width: 5%;
}

#copy {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  color: #b6b6b6;
  font-style: italic;
  font-size: small;
}

button {
  padding: 0.4em 1.2em;
  background-color: #636363;
  cursor: pointer;
  border: 2px solid rgb(174, 174, 174);
  border-style: outset;
  border-radius: 8px;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
}

button.active {
  text-decoration: underline;
  text-decoration-color: #dadada;
  text-decoration-thickness: 2px;
}

button:hover {
  background-color: #565656;
  border-color: #aaaaaa;
  color: #dadada;
}

button:active {
  background-color: #3d3d3d;
  border-color: #808080;
  color: #d6d6d6;
}

button:disabled {
  cursor: not-allowed;
  color: #7f7f7f;
  border: 2px solid rgb(174, 174, 174);
  border-style: outset;
  background-color: #636363;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}